html, body {
  height:100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Raleway";
  line-height: 1.65;
}

#title {
  display: table;
  margin: 0 auto;
}

h1{
  font-size: 2.5rem;
  margin: 6rem 0 3rem;  
}

h1, h2 {
  font-family: "Playfair Display";
  font-weight: normal;
  text-align: left;
}

p, #writing li {
  font-size: 1.2rem;
  text-align: left;
  margin: 0 auto;
}

a {
  text-decoration: underline;
  color: rgb(200,92,89);
}

a:hover {
  color: #0c88f0;
}

#writing a {
 text-decoration: none;
}

#nav {
  color: white;
  letter-spacing: 1px;
  font-size: 1.9rem;
  display: table;
  margin: 0 auto;
  padding-top: 2rem;
  padding-right: 2rem;
  text-align:right; 
  float: right;
}

#nav a {
  color: white;
  text-decoration: none;
}

#nav li {
  padding: 0.18rem;
}

li{
  margin-bottom: 0.5rem;
}

#about {
  padding: 0;
}

ul {
  margin: 0;
  padding: 0 0 0 3rem;
  list-style: disc;  
}

ul li {
  margin: 0;
  padding: 0 0 0 1rem;
}

.nav {
  text-align: left;
  padding: 0;
  list-style: none;
}

.nav li {
  padding: 0 0 0.75rem;
}

.nav li a {
  text-decoration: none;
}

#left {
  padding: 4rem;
  display: inline-block;
  float: left;
}

#left img {
  border-radius: 50%;
  display: block;
  width: 8rem;
  margin-bottom: 2rem;
}

#right-side {
  box-sizing: border-box;
  max-width: 35rem;
  float: left;
  height: auto;
  display: inline-block;
  padding: 0 0 6rem;
}

@media screen and (max-width: 960px) {
  #right-side {
    width: 100%;
    max-width: 100%;
    padding: 0 2rem 4rem;
  }

  #left {
    padding: 0;
  }

  #left img {
    display: none;
  }

  .nav {
    position: absolute;
    left: 2rem;
    top: 2rem;
  }

  .nav li {
    display: inline-block;
    float: left;
    padding: 0 1rem 0 0;
  }
}
